<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="32000">
		<setting label="32001" type="lsep"/>
		<setting action="RunScript(script.epg.vsetv,action=editchannels)" label="32002" type="action"/>    
		<setting label="32003" type="lsep"/>
		<setting default="" id="xmltv_path" label="32004" option="writeable" type="folder"/>
		<setting default="2" id="count_day" label="32005" type="enum" values="1|2|3|4|5|6|7"/>
	</category>
	<category label="32010">
		<setting default="false" id="enable_service" label="32012" type="bool"/>
		<setting label="32013" type="lsep"/>
		<setting default="true" enable="eq(-2,true)" id="enable_monday" label="32014" type="bool"/>
		<setting default="false" enable="eq(-3,true)" id="enable_tuesday" label="32015" type="bool"/>
		<setting default="false" enable="eq(-4,true)" id="enable_wednesday" label="32016" type="bool"/>
		<setting default="false" enable="eq(-5,true)" id="enable_thursday" label="32017" type="bool"/>
		<setting default="false" enable="eq(-6,true)" id="enable_friday" label="32018" type="bool"/>
		<setting default="false" enable="eq(-7,true)" id="enable_saturday" label="32019" type="bool"/>
		<setting default="false" enable="eq(-8,true)" id="enable_sunday" label="32020" type="bool"/>
		<setting default="00:00" enable="eq(-9,true)" id="run_time" label="32021" type="time"/>
	</category>
	<category label="32030">
		<setting default="true" id="full_desc" label="32031" type="bool"/>
		<setting default="false" id="execute_script" label="32033" type="bool"/>
		<setting default="" id="script_path" label="32034" type="file" visible="eq(-1,true)"/>
		<setting default="false" id="debug" label="32035" type="bool"/>
	</category>
</settings>
